.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    }


/*Prevent the user from selecting text*/
.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}


html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/*Background Image */
body {
    background-image: url("https://img.goodfon.com/original/1920x1080/d/43/hexagons-geometric-shapes-geometry-texture-black-blue-simple.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow:hidden;
    text-align: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
    color: rgb(120, 120, 120);
    font-size: 50px;
    margin: 20px 0;
}

h3 {
    color: lightgray;
}

.button-container {
    margin: 20px 0;
}
.icon-container {
    margin: 20px 0;
}
/*Button Base*/
button {
    color: white;
    border: none;
    border-radius: 8px;
    padding: 15px 32px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.5s;
}
.github {
    padding-bottom: 2%;
    width: 50px;
    height: 50px;
}
/* Button Color and Hover Effect Color with Text*/
.blueButton { background-color: blue; }
.blueButton:hover { background-color: lightgrey; color: blue; }

.purpleButton { background-color: darkorchid; }
.purpleButton:hover { background-color: lightgrey; color: darkorchid; }

.brownbutton { background-color: brown; }
.brownbutton:hover { background-color: lightgrey; color: brown; }

.greenbutton {background-color: lime;}
.greenbutton:hover {background-color: lightgrey; color: rgb(32, 130, 32)}

.eaglebutton {background-color: green}
.eaglebutton:hover {background-color: lightgrey; color: green}

.greybutton {background-color: gray}
.greybutton:hover {background-color: lightgrey; color: black}

.monkeytype {background-color: goldenrod;}
.monkeytype:hover {background-color: lightgrey; color: goldenrod}

.reemo {background-color: rgb(61, 94, 115);}
.reemo:hover {background-color: rgb(40, 40, 40); color: rgb(61, 94, 115)}

.parsec {background-color: rgb(95, 24, 24);}
.parsec:hover {background-color: lightgrey; color: rgb(95, 24, 24)}

.edutype {background-color: aqua;}
.edutype:hover {background-color: rgb(40, 40, 40); color: aqua}

